In [38]:
# first step is to import all the desired packages 
import numpy as np

# Defining Variables

In [10]:
# how to define variables
course_code = 545

In [5]:
# mathematical operations
Students = 42 # 36 in chemical engineering, 2 in chemistry and 4 in MSE
team_size = 3 
num_groups = np.divide(Students, team_size)

In [7]:
print('total number of groups in the course is ',num_groups)

total number of groups in the course is  14.0

In [8]:
print('total number of groups in the course is ',int(num_groups))

total number of groups in the course is  14

In [11]:
print('the name of this course is CHEM E', course_code)

the name of this course is CHEM E 545

In [12]:
print('total number of students in this course is', 36+2+4)

total number of students in this course is 42

In [15]:
print('total number of students in this course is', num_groups*team_size)

total number of students in this course is 42.0

In [16]:
print('total number of students in this course is', np.multiply(num_groups,team_size))

total number of students in this course is 42.0

## Exploring More Specialized Arithmetic

Some other useful operators are ``//``, ``%``, and ``**``.

# Order of Operations
![operations](operations_order_new.png)

# Data Structures in Python

### Numbers

In [4]:
x = 1 
y = -12 
x_1 = 0.2
y_1 = -20.2
print("x is a:  ", type(x))
print("x_1 is a:  ", type(x_1))

x is a:   <class 'int'>
x_1 is a:   <class 'float'>

### Strings

In [6]:
name = 'Benson Hall'
address = '3781 Okanogan Lane'

In [2]:
name[0]

'B'

In [3]:
len(name)

11

In [10]:
# slicing lists
address[0:5]

'3781 '

In [ ]:
#cannot modify a particular element
address[2] = 4

In [15]:
# concatenation 
Full_address = address + ',' + name
print(Full_address)

3781 Okanogan Lane,Benson Hall

In [3]:
Colors = 'red_blue'
Colors[0:3]

'red'

### Tuples

In [17]:
x = (1,2,3,4,5)
z = (5,'john',17.5)

In [18]:
type(z)

tuple

In [19]:
z[2] # indexing in python starts from zero

17.5

In [26]:
len(z) # gives you the number of elements in a particular list

3

In [22]:
#cannot modify a particular element in place
z[2] = 10

TypeError: 'tuple' object does not support item assignment

In [6]:
#tuple packing and unpacking
student_record = ('Parker', 'Jim', 1980, 'Math 550', 'C+', 'Cpsc 302', 'A+')

(fname, lname, year, cmin, gmin, cmax, gmax) = student_record

### Lists

In [24]:
z_list = [5,'john',17.5]

In [25]:
len(z_list)

3

In [27]:
#can modify elements
z_list[2] = 10

In [28]:
z_list

[5, 'john', 10]

In [29]:
#slicing
z_list[0:2]

[5, 'john']

In [31]:
#lists can be concatenated 
x_list = [1,2,3,4]
new_list = z_list + x_list
new_list

[5, 'john', 10, 1, 2, 3, 4]

### List Comprehensions

In [34]:
t = []
for i in range(0,10):
    t = t + [i*i]
print (t)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
tt = [i**2 for i in range(10)]
print(tt)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Numpy Arrays

In [39]:
#ndarrays
# creating an array
x = np.array([1,2,3,4,5])

# accessing elements
#second_element = x[1]
print("the last element is ",x[-1])

the last element is  5

In [40]:
z = np.ones((1,5))
z.shape

(1, 5)

In [41]:
x = np.ones(3)
x.shape

(3,)

### Dictionary

In [44]:
# empty dictionary
my_dict = {}
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

In [47]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
#Accessing values using keys
my_dict['name']

'John'

### Dict Comprehensions

In [48]:
tt_dict = {i:i**2 for i in range(10)}
print(tt_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [72]:
# conditional statements (if-else)
x = 11
if x<10:
    print("small number")
else:
    print("large number")
print ('outside the loop')

large number
outside the loop

In [29]:
# for loops
for i in range(6):
    print(i)

0
1
2
3
4
5

In [30]:
adj = ["red","tart","sweet"]
fruits = ["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
tart apple
tart banana
tart cherry
sweet apple
sweet banana
sweet cherry